.open-btn {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: grey;
    padding: 10px;
  }
  
  .offcanvas {
    position: fixed;
    top: 0;
    right: -250px; 
    width: 250px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
  }
  
  .offcanvas.show {
    right: 0; 
  }
  
  .offcanvas .close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .offcanvas-content a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .offcanvas-content a:hover {
    background-color: #575757;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  