body{
  background-color: #fafafa;
}
@media only screen and (max-width: 728px ) {
  body {
    background-color: lightblue;
  }
  .overall-card{
    width: min-content;
    height: min-content;
  }
  .navbar{
    width: fit-content;
    height: fit-content;
  }
}